body {
  font-family: "Roboto", sans-serif;
  width: 300px;
  padding: 20px;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #4caf50;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  font-size: 16px;
}

#status {
  font-weight: bold;
  color: #ff5722;
}

#result {
  margin-top: 10px;
  font-size: 18px; /* Increase font size */
  color: #333; /* Darker color for better readability */
  padding: 10px; /* Add padding for better spacing */
  border: 1px solid #ddd; /* Add a border */
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
}
